*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    height:500px;
    background: url('../img/jumbo.png') no-repeat;
    background-position: 50% 50%; 
    background-size: cover;
}

.container{
    width:80%;
    margin:0 auto;
}

.jumbotron{
    width:50%;
    margin:0 auto;
    color: white;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.navbar{
    height:150px;
    padding-top: 30px;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}


.list-container{
   padding-left: 190px;
   padding-top: 10px;
}




ul{
    list-style: none;
}

ul li{
    float: left;
    color: white;
    margin-right: 30px;
}



.button{
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;

}

.big-button{

    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
}

.left{
    position: relative;
    left: 290px;
}

.right{
    position: relative;
    left: 330px;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: black;
    color: white;
}

.freccia{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}



.jumbotron h1{
    font-size: 45px;
}

header p{
    width:60%;
    margin: 30px auto; 
    color: white;
}

.img-float-1{
    width:50%;
    padding-top: 60px;
}

.img-float-1 img{
    height:100%;
    width:100%;
}

.text-1{
    width:50%;
    padding: 75px 80px 100px 140px;
}

.text-1 h2{
    font-size: 40PX;
}

.text-1 p{
    margin-top: 20px;
    line-height: 25px;
}


.wave-container{
    height:100px;
}
.wave-container img{
    height:100%;
    width:100%;
}

.grey{
    background-color: #F8F8FF;
}

.text-2{
    width:50%;
    padding: 75px 80px 100px 140px;

}

.img-float-2{
    width:50%;
    padding-top:60px;
}

.img-float-2 img{
    height:100%;
    width:100%;
}

.text-2 h2{
    font-size: 40PX;
}

.text-2 p{
    margin-top: 20px;
    line-height: 25px;
}

.background-container{
    background-color: #F8F8FF;
}

.wave-rotate{
    transform: rotate(180deg);
}

.third-img{
    margin-bottom: 90px;
}

.final-text{
    font-size: 20px;
    width: 100%;
}

.final-text p{
    margin-top: 30px;
    font-size: 15px;
}

.final-section{
    padding-top: 80px;
    padding-bottom: 100px;
}

.final-img{
    margin-left: 0;
    margin-top: 40px;
}

.final-img-1{
    margin-top: 25px;
}

.final-img-1 img{
    width:500px;
}

.final-img-1 p{
    position: relative;
    z-index:5;
    bottom:30px;
    left:120px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.blue{
    background-color: #6495ED;
    color: white;
    position: relative;
    left:190px;
    font-size: 17px;
}