*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header{
    height:500px;
    background: url('../img/jumbo.png') no-repeat;
    background-position: 50% 50%; 
    background-size: cover;
}

.container{
    width:80%;
    margin:0 auto;
}

.jumbotron{
    width:50%;
    margin:0 auto;
    color: white;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.navbar{
    height:150px;
    padding-top: 30px;
}

.row::after{
    content:"";
    display: table;
    clear: both;
}


.list-container{
   padding-left: 190px;
   padding-top: 10px;
}




header ul{
    list-style: none;
}

header ul li{
    float: left;
    color: white;
    margin-right: 30px;
}



.button{
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;

}

.big-button{

    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.left{
    position: relative;
    left: 290px;
}

.right{
    position: relative;
    left: 330px;
}

.white{
    background-color: white;
    color: black;
}

.black{
    background-color: black;
    color: white;
}

.freccia{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}



.jumbotron h1{
    font-size: 45px;
}

header p{
    width:60%;
    margin: 30px auto; 
    color: white;
}

.img-float-1{
    width:50%;
    padding-top: 60px;
}

.img-float-1 img{
    height:100%;
    width:100%;
}

.text-1{
    width:50%;
    padding: 75px 80px 100px 140px;
}

.text-1 h2{
    font-size: 40PX;
}

.text-1 p{
    margin-top: 20px;
    line-height: 25px;
}


.wave-container{
    height:100px;
}
.wave-container img{
    height:100%;
    width:100%;
}

.grey{
    background-color: #F8F8FF;
}

.text-2{
    width:50%;
    padding: 75px 80px 100px 140px;

}

.img-float-2{
    width:50%;
    padding-top:60px;
}

.img-float-2 img{
    height:100%;
    width:100%;
}

.text-2 h2{
    font-size: 40PX;
}

.text-2 p{
    margin-top: 20px;
    line-height: 25px;
}

.background-container{
    background-color: #F8F8FF;
}

.wave-rotate{
    transform: rotate(180deg);
}

.third-img{
    margin-bottom: 90px;
}


.final-text{
    font-size: 22px;
    width: 100%;
    text-align: center;
    position: relative;
    right:50px;
    
   
}

.final-text p{
    margin-top: 30px;
    font-size: 15px;
}

.final-section{
    padding-top: 80px;
}

.final-img{
    margin-left: 0;
    margin-top: 40px;
}


.final-img img{
    width:100%;

}



.final-img-1{
    margin-top: 25px;
    text-align: center;
}

.final-img-1 img{
    width:500px;
}

.final-img-1 p{
    position: relative;
    z-index:5;
    font-size: 23px;
    font-weight: bold;
    margin-top: 30px;
    bottom: 45px;
}

.blue{
    background-color: #6495ED;
    color: white;
    font-size: 17px;
}

footer{
    background-color: black;
    margin-top: 80px;
}

.last-container{
    padding-top: 70px;
}


footer h2{
    color: rgb(38, 78, 163);
}

.italy-container{
    display: inline-block;
    width: 20px;
    margin-top:20px
}

.italy-container img{
    width: 100%;
    vertical-align: middle;
}



.dropdown-container{
    display: inline-block;
    color: white;
    font-size: 10px;
    vertical-align: middle;
}

.dropdown-container i{
    margin-left: 5px;
}

.social-container{
    color: white;
    margin-top: 10px;
}

.social-container i{
    margin-right: 10px;
}

footer ul{
    list-style: none;
    color: white;
}

footer ul li{
    margin-bottom: 10px;
}

footer .column{
    margin-right: 50px;
}

footer .column span{
    color: rgb(38, 78, 163);
}

.first-column{
    margin-left: 80px;
}

footer .hr-remix{
   border-top: 2px solid rgb(38, 78, 163);
}

.last-div{
    margin-top: 40px;
}



 .final-button{
    background-color: rgb(101, 132, 197);
    color: white;
    padding: 10px;
    border-radius: 20px;
 }

.last-2-icon{
    height: 150px;
    margin-top: 30px;
}